persist.properties
persist
lizzie.properties
config.txt
out/*
.idea/
.vscode/
.settings/
*.dll
*.iml
*.exe
network
*.gz
leelaz
src/main/resources/META-INF
target
leelaz_opencl_tuning
*.sh
*.jar
.classpath
.project
